broker_address=192.168.2.146:1883
broker_pass=gahceipheoghiem0see0ahhooch3chaePah9peeSh4ieliewahBe8zoh7iKaif9i
broker_user=homeassistant
topic_command=servercmd
topic_control_server=servercontrol
topic_control_supervisor=syscontroll
sever_gui=false
working_directory=/home/emil/testserver
server_file=spigot-1.18.jar
